<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="RestaurantEnterprise">
<!--<![endif]-->
<head>
    <title>PO Application | Explore...</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var AppVersion = @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Procurement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/E_Content/css/Main")
    @Scripts.Render("~/E_Content/Scripts/Main")
    @Scripts.Render("~/E_Scripts/Common")

    <script src="~/AngularControllers/CommonMethod.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>

    <script src="~/E_Scripts/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <link href="~/E_Scripts/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">
    <link href="~/E_Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />

    <link href="~/E_Content/CustomCss/PO/po-admin.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/Wenodo_all-skins.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />

    <script src="~/E_Content/CustomCss/hr-admin.min.js"></script>
    <link href="~/E_Content/plugins/select2/css/select2.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/PO/purchase_module.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <style>
        .overlay_loadingNew {
            background-image: url(/E_Content/images/loading.gif);
            background-color: #666;
            opacity: 0.4;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }

        .overlay_loading_div {
            background-image: url(/E_Content/images/loading.gif);
            _background-color: #666;
            _opacity: 0.4;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            _width: 100%;
            height: auto;
            _position: absolute;
            _top: 0;
            _left: 0;
            z-index: 9999;
        }
    </style>

</head>
<body ng-controller="MasterController" ng-init="AppVersion=18+@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" ng-cloak bn-document-click="handleClick($event)"
      class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse custom-scrollbar">
    <div class="wrapper" ng-controller="P2PIndexController">
        <div class="overlay_loadingNew" style="display:{{overlay_loadingNew}}!important"></div>
        <div class="overlay_loading" style="display:{{overlay_loading}}!important"></div>

        <nav class="main-header navbar navbar-expand navbar-white navbar-light-old">
            <a><img ng-src="{{LOGO_PATH}}" class="brand-image" style="max-width:150px;margin-left:15px;" /></a>
            <header>
                <nav id='cssmenu'>
                    <div id="head-mobile"></div>
                    <div class="top_nav_button"></div>
                    <ul>
                        <li class="has-sub1" ng-click="MENU_CLICK(1,'PR_Request')" ng-show="CheckSubModuleAccess(131) || CheckSubModuleAccess(134) || CheckSubModuleAccess(156)" ng-class="{'active':'PR_Request'==SELECTED_TAB_NAME}">
                            <a href="#!/PR_Request" ng-click="MENU_CLICK(1,'PR_Request')">Request</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(4,'Request_Approvals')" ng-show="CheckSubModuleAccess(133) || CheckSubModuleAccess(134) || CheckSubModuleAccess(156)" ng-class="{'active':'Request_Approvals'==SELECTED_TAB_NAME}">
                            <a href="#!/Request_Approvals" ng-click="MENU_CLICK(4,'Request_Approvals')">PR Approvals</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(2,'Requisition')" ng-show="CheckSubModuleAccess(132) || CheckSubModuleAccess(134) || CheckSubModuleAccess(156)" ng-class="{'active':'Requisition'==SELECTED_TAB_NAME}">
                            <a href="#!/Requisition" ng-click="MENU_CLICK(2,'Requisition')">Requisition</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(5,'PO_Approvals')" ng-show="CheckSubModuleAccess(133) || CheckSubModuleAccess(134) || CheckSubModuleAccess(156)" ng-class="{'active':'PO_Approvals'==SELECTED_TAB_NAME}">
                            <a href="#!/PO_Approvals" ng-click="MENU_CLICK(5,'Request_Approvals')">PO Approvals</a>
                        </li>
                        <li class="has-sub1" ng-show="CheckSubModuleAccess(132) || CheckSubModuleAccess(135) || CheckSubModuleAccess(134) || CheckSubModuleAccess(144) || CheckSubModuleAccess(156)" ng-click="MENU_CLICK(3,'Purchase_Order')" ng-class="{'active':'Purchase_Order'==SELECTED_TAB_NAME}">
                            <a href="#!/Purchase_Order" ng-click="MENU_CLICK(3,'Purchase_Order')">Purchase Order</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(7,'P2PAP')" ng-show="CheckSubModuleAccess(134) || CheckSubModuleAccess(146) || CheckSubModuleAccess(156)"
                            ng-class="{'active':'P2PAP'==SELECTED_TAB_NAME}">
                            <a href="#!/P2PAP" ng-click="MENU_CLICK(6,'P2PAP')">Bills</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(7,'CREDIT_NOTE')" ng-show="CheckSubModuleAccess(134) || CheckSubModuleAccess(146) || CheckSubModuleAccess(156)"
                            ng-class="{'active':'CREDIT_NOTE'==SELECTED_TAB_NAME}">
                            <a href="#!/Credit_Note" ng-click="MENU_CLICK(6,'CREDIT_NOTE')">Memo</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(6,'Bill_Approvals')" ng-show="CheckSubModuleAccess(131) || CheckSubModuleAccess(135) || CheckSubModuleAccess(133) || CheckSubModuleAccess(134) || CheckSubModuleAccess(156)" ng-class="{'active':'Bill_Approvals'==SELECTED_TAB_NAME}">
                            <a href="#!/Bill_Approvals" ng-click="MENU_CLICK(6,'Bill_Approvals')">Bill Approvals</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(7,'Report')" ng-show="CheckSubModuleAccess(134) || CheckSubModuleAccess(145) || CheckSubModuleAccess(156)" ng-class="{'active':'Report'==SELECTED_TAB_NAME}">
                            <a href="#!/P2PReports" ng-click="MENU_CLICK(6,'Report')">Report</a>
                        </li>
                        <li class="has-sub1" ng-click="MENU_CLICK(7,'Contact')" ng-show="CheckSubModuleAccess(134) || CheckSubModuleAccess(147) || CheckSubModuleAccess(156)" ng-class="{'active':'Contact'==SELECTED_TAB_NAME}">
                            <a href="#!/P2PContact" ng-click="MENU_CLICK(6,'Contact')">Contact</a>
                        </li>
                        @*request or re*@
                    </ul>
                </nav>
            </header>
            <ul class="navbar-nav ml-auto mr-3">
                <li ng-show="false" class="nav-item dropdown text-sm mt-2">Become as <span class="text-blue semibold ml-1">Myself</span></li>
                @*<li class="nav-item dropdown"> <span class="nav-link text-sm cursor-default">{{SELECTED_ENTITY_NAME}}</span></li>*@
                <li onclick="Gyde.toggle()" class="mt-2"><i class="far fa-paper-plane txt-grey"></i></li>
                <li class="nav-item dropdown">
                    <a class="nav-link app-text" data-toggle="dropdown">
                        <i class="fas fa-th fa-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-app dropdown-menu-right dropdown-menu-arrow">
                        <div class="card mb-0">
                            <div class="card-body custom-scrollbar" style="max-height:80vh">
                                <div class="at-grid bg-white" data-column="4">
                                    <div class="at-column app-suit-inside cursor-pointer {{Module.CLASS_NAME}}" ng-repeat="Module in ModuleList" ng-click="ModuleRedirection(Module)"
                                         ng-if="Module.IS_VISIBLE_IN_APP_SUITE">
                                        <div class="at-user">
                                            <div class="at-user__avatar inside_icons"><img src="../E_Content/images/Appsuite_Icons/{{Module.MODULE_ICON | trim }}" /></div>
                                            <div class="text-white font-8">{{Module.MODULE_NAME}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="../Main/MainIndex" class="btn btn-wenodo btn-block btn-sm mt-2">Back to App Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link app-text text-sm pt-0" data-toggle="dropdown">
                        <img ng-src="{{IMAGE_PATH}}" class="img-size-32 mt-2 mr-4 img-circle" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-menu-arrow">
                        <li class="user-header">
                            <ul class="list-line my-1">
                                <li class="list-line-item cursor-default hover-none"><i class="fas fa-user"></i> {{User_Name}}</li>
                                <li class="list-line-item cursor-default hover-none"><i class="fas fa-envelope"></i> {{User_Email}}</li>
                            </ul>
                        </li>
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-md-6 text-center"><a href="../AccountSetting/index#!/BasicInfo" type="button" class="btn btn-w-default btn-sm"> Settings</a></div>
                                <div class="col-md-6 text-center"><button type="button" class="btn btn-wenodo btn-sm" title="Logout" ng-click="INS_LOGOUT_LOG(1)">Sign out</button></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="hr-dashboard-main-footer">
            <div class="row">
                <div class="col app-text font-14 d-flex pt-1">
                    <span class="mt-2 ml-4 font-12">Powered by </span>
                    <a target="_blank" href="http://wenodo.com/"><img src="~/E_Content/images/logo.png" class="img-fluid footer-logo" /></a>
                </div>
                <div class="col-auto" ng-show="false">
                    <div class="weather-wrapper">
                        <div class="weather-card madrid">
                            <div class="weather-icon sun" ng-class="cloud"></div>
                            <h1>26º <span>Madrid</span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-auto text-right">
                    <div class="footer-links mt-1">
                        <a ng-show="false">Cookies</a>
                        <a href="https://wenodo.com/policy/" target="_blank">Privacy Policy</a>
                        <a href="https://wenodo.com/client-contact-us/" target="_blank">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal fade show" id="View_Invoice">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" ng-show="false">Invoice {{INVOICES_RESULT.INVOICENUMBER}}</h4>
                    <h4 class="modal-title font-16">Bill - {{INVOICES_RESULT.INVOICENUMBER}}</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="modal-header pl-0 pt-0">
                        <span class="badge badge-success mt-1"> {{INVOICES_RESULT.STATUS}}</span>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                @*<li class="nav-item mr-2">
                                        <button type="button" class="btn btn-sm btn-wenodo" data-toggle="tootltip" data-html="true" data-original-title="Print PDF">Print PDF</button>
                                    </li>*@
                                <li class="nav-item" ng-show="INVOICES_RESULT.ATTACHMENTS.length==0">
                                    - No Attachments
                                </li>
                                <li class="nav-item" ng-show="INVOICES_RESULT.ATTACHMENTS.length>0">
                                    <button type="button" class="btn btn-sm btn-wenodo dropdown-toggle dropdown-icon" data-toggle="dropdown"><i class="far fa-paperclip mr-3" data-toggle="tootltip" data-html="true" data-original-title="Download PDF">  ({{INVOICES_RESULT.ATTACHMENTS.length}})</i></button>
                                    <div class="dropdown-menu custom-scrollbar mx-200">
                                        <a class="dropdown-item" ng-repeat="Attachment in INVOICES_RESULT.ATTACHMENTS" ng-click="DOWNLOAD_INVOICE_ATTACHMENT(Attachment);">{{Attachment.FileName}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table v-align-top compact_table table-striped table-hover">
                                <thead class="bg-wenodo-border">
                                    <tr>
                                        <th>From</th>
                                        <th>Date</th>
                                        <th>Due Date</th>
                                        <th>Reference</th>
                                        <th>Currency</th>
                                        <th class="text-align-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{INVOICES_RESULT.SUPPLIER_NAME}}
                                            @*<br />{{INVOICES_RESULT.SUP_ADDRESSLINE1}}
                                                <br />{{INVOICES_RESULT.SUP_CITY}}
                                                <br />{{INVOICES_RESULT.SUP_COUNTRY}}*@
                                        </td>
                                        <td><i class="fal fa-calendar-alt text-blue"></i> {{INVOICES_RESULT.DATE | date}}</td>
                                        <td><i class="fal fa-calendar-alt text-blue"></i> {{INVOICES_RESULT.DUEDATE | date}}</td>
                                        <td>{{INVOICES_RESULT.REFERENCE}}</td>
                                        <td>{{INVOICES_RESULT.CURRENCYCODE}}</td>
                                        <td class="text-align-right">{{INVOICES_RESULT.TOTAL|number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-head-fixed table-striped table-hover compact_table">
                                <thead class="bg-wenodo-border">
                                    <tr>

                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th class="text-nowrap text-right">Unit Price</th>
                                        <th>Account</th>
                                        <th>Tax Rate</th>
                                        <th>Sites</th>
                                        <th class="text-nowrap text-right">Amount {{INVOICES_RESULT.CURRENCYCODE}}</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="LIT in XERO_INVOICES_LINE_ITEMS">
                                    <tr>

                                        <td>{{LIT.DESCRIPTION}}</td>
                                        <td>{{LIT.QUANTITY}}</td>
                                        <td class="text-nowrap text-right">{{LIT.UNIT_PRICE|number:2}}</td>
                                        <td>{{LIT.ACCOUNT_NAME}}</td>
                                        <td>{{LIT.TAX_NAME}}</td>
                                        <td>{{LIT.SITES}}</td>
                                        <td class="text-nowrap text-right">{{LIT.AMOUNT|number:2}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-right">Subtotal</td>
                                        <td class="text-nowrap text-right">{{INVOICES_RESULT.SUBTOTAL|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Total Tax</td>
                                        <td class="text-nowrap text-right">{{INVOICES_RESULT.TOTALTAX|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right text-bold">Total</td>
                                        <td class="text-bold text-nowrap text-right">{{INVOICES_RESULT.TOTAL|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Credit Amount </td>
                                        <td class="text-nowrap text-right">{{INVOICES_RESULT.AMOUNTCREDITED|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Paid Amount</td>
                                        <td class="text-nowrap text-right">{{INVOICES_RESULT.AMOUNTPAID|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right text-bold font-18 text-uppercase">Amount Due</td>
                                        <td class="text-bold text-nowrap text-right font-18">{{INVOICES_RESULT.AMOUNTDUE|number:2}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="col-md-12" ng-show="false">
                            EORI No. GB261643804000<br>AWRS Registration No. XTAW00000107295<br><br>Payments in Sterling<br>Sort Code 20-45-45 Account Number 13284468<br>SWIFTBIC BARCGB22  <br>IBAN GB71 BARC 2045 4513 2844 68<br><br>Payments in Euros<br>Sort Code 20-45-45 Account Number 52667877<br>SWIFTBIC BARCGB22<br>IBAN GB52 BARC 2045 4552 6678 77<br><br>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-show="false" class="btn btn-wenodo">Download Attachment</button>
                    <button type="button" class="btn btn-sm btn-wenodo" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>

    <script src="~/E_Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/AngularControllers/RouteProvider.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Angular_Directive.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/MasterCntrl.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/P2P/P2PIndexController.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>

    <script src="~/E_Scripts/angular-sanitize.min.js"></script>
    <script src="~/E_Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/E_Scripts/JsontoCSV/ng-csv.js"></script>

    <script src="~/E_Scripts/ExcelPdfJS/jspdf.min.js"></script>
    <script src="~/E_Scripts/Calendar/ui-bootstrap-tpls.min.js"></script>

    <script src="~/E_Scripts/ExcelPdfJS/alasql.min.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/xlsx.core.min.js"></script>

    <script src="~/E_Scripts/MomentTimePicker/moment-with-locales.min.js"></script>
    <script src="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.js"></script>
    <link href="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.css" rel="stylesheet" />
    <script src="~/E_Content/plugins/moment/moment-timezone-with-data.js"></script>
    <link href="~/E_Scripts/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <script src="~/E_Scripts/daterangepicker-master/daterangepicker.js"></script>

    <script type="text/javascript" src="~/E_Scripts/ExcelPdfJS/html2canvas.min.js"></script>
    <script src="~/E_Content/plugins/jquery/jquery.multi-select.min.js"></script>

    <script>
        var gy345cldi = "3ecc8ef1-c184-42b6-a630-685336d60ab5",
            gyIconDisplay = false,
            gyIconColor = "",
            gy345theme = "classic";
        !(function (s, t, a) {
            (s1 = s.createElement("script")),
                (s1.src = "https://widget.gyde.ai/webintv2/GydeTrack.js"),
                (s1.async = !0), (e = s.getElementsByTagName(t)[0]), e.appendChild(s1),
                (s2 = s.createElement("script")),
                (s2.src = "https://widget.gyde.ai/webintv2/webWidget.js"),
                (s2.async = !0), (e = s.getElementsByTagName(t)[0]), e.appendChild(s2)
        })(document, "head", window)</script>
</body>

</html>