<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="RestaurantEnterprise">
<!--<![endif]-->
<head>
    <title>Restaurant Application | Explore...</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script>
        window.fwSettings = {
            'widget_id': 80000008565
        };
        !function () { if ("function" != typeof window.FreshworksWidget) { var n = function () { n.q.push(arguments) }; n.q = [], window.FreshworksWidget = n } }()

    </script>
    <script type="text/javascript">

        //FreshworksWidget('disable', 'ticketForm', ['subject', 'description', 'priority', 'status', 'group_id', 'product_id', 'type', 'custom_fields.cf_order_id']);
        FreshworksWidget('disable', 'ticketForm', ['email']);

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) {
                    //alert(c.substring(nameEQ.length, c.length));
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return null;
        }
    </script>
    <script type='text/javascript' src="~/E_Scripts/FreshDesk/80000008565.js" async defer></script>
    <link rel="icon" href="https://i2.wp.com/wenodo.com/wp-content/uploads/2020/10/logo-main-e1602233242613.png?fit=32%2C32&ssl=1" sizes="32x32" />
    <link rel="icon" href="https://i2.wp.com/wenodo.com/wp-content/uploads/2020/10/logo-main-e1602233242613.png?fit=32%2C32&ssl=1" sizes="192x192" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var AppVersion = @System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Procurement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/E_Content/css/Main")
    @Scripts.Render("~/E_Content/Scripts/Main")
    @Scripts.Render("~/E_Scripts/Common")
    <link href="~/E_Content/plugins/select2/css/select2.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <script src="~/AngularControllers/CommonMethod.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/SalesValidationController.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/E_Content/plugins/moment/moment.min.js"></script>


    <script src="~/E_Scripts/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <link href="~/E_Scripts/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/E_Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/payment-admin.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/Wenodo_all-skins.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <script src="~/E_Content/CustomCss/hr-admin.min.js"></script>
    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">*@
    <link href="~/E_Content/plugins/select2/css/select2.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <link href="~/E_Content/CustomCss/payment-custom.css?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" rel="stylesheet" />
    <style>
        .overlay_loadingNew {
            background-image: url(/E_Content/images/loading.gif);
            background-color: #666;
            opacity: 0.4;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }

        .overlay_loading_div {
            background-image: url(/E_Content/images/loading.gif);
            _background-color: #666;
            _opacity: 0.4;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            _width: 100%;
            height: auto;
            _position: absolute;
            _top: 0;
            _left: 0;
            z-index: 9999;
        }

        .ui-select-dropdown {
            opacity: 1 !important;
        }

        .lvl-over {
            /* applied to a drop target when a draggable object is over it */
            border: 2px dashed black !important;
        }

        .lvl-target {
            /*
                applied to all drop targets when a drag operation begins
                removed when the drag operation ends
                used to indicate drop targets on a page
                */
            background-color: #ddd;
            opacity: .5;
        }

        [draggable] {
            /* not applied by the directive, but useful to indicate a draggable element */
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: move;
            /*border: 1px solid black;*/
        }

        .modal-open {
            padding-right: 0 !important;
        }
    </style>
</head>
<body ng-controller="MasterController" ng-init="AppVersion=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()" ng-cloak bn-document-click="handleClick($event)"
      class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse custom-scrollbar">
    <div class="overlay_loadingNew" style="display:{{overlay_loadingNew}}!important"></div>
    @*<div class="overlay_loading" style="display:{{overlay_loading}}!important"></div>*@
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white">
            <a href="#!/Hr_index">
                <img ng-show="LOGO_PATH=='' || LOGO_PATH=='null'" src="~/E_Content/images/logo.png" class="brand-image" />
                <img ng-show="LOGO_PATH!='' && LOGO_PATH!='null'" src="{{LOGO_PATH}}" class="brand-image" style="max-width:150px;margin-left:30px;" />
                @*<img src="~/E_Content/images/logo.png"
                    alt="WENODO"
                    class="brand-image wenodo-hr-style">
                    <span class="brand-text"></span>*@
            </a>
            <ul class="navbar-nav"></ul>
            <ul class="navbar-nav ml-auto mt-2 mr-3">
                <li ng-show="false" class="nav-item dropdown text-sm mt-2">Become as <span class="text-blue semibold ml-1">Myself</span></li>
                <li class="nav-item dropdown"> <span class="nav-link app-text text-sm cursor-default">{{SELECTED_ENTITY_NAME}}</span></li>
                <li class="nav-item dropdown"> <a href="https://wenodo.com/client-contact-us/" target="_blank" class="nav-link app-text text-sm">Contact</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link app-text" data-toggle="dropdown">
                        <i class="fas fa-th fa-lg app-text"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-app dropdown-menu-right dropdown-menu-arrow">
                        <div class="card mb-0">
                            <div class="card-body custom-scrollbar" style="max-height:80vh">
                                <div class="at-grid bg-white" data-column="4">
                                    <div class="at-column app-suit-inside cursor-pointer {{Module.CLASS_NAME}}" ng-repeat="Module in ModuleList" ng-click="ModuleRedirection(Module)"
                                         ng-if="Module.IS_VISIBLE_IN_APP_SUITE">
                                        <div class="at-user">
                                            <div class="at-user__avatar inside_icons"><img src="../E_Content/images/Appsuite_Icons/{{Module.MODULE_ICON | trim }}" /></div>
                                            <div class="text-white font-8">{{Module.MODULE_NAME}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="../Main/MainIndex" class="btn btn-wenodo btn-block btn-sm mt-2">Back to App Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link app-text text-sm pt-0" data-toggle="dropdown">
                        @*<img src="../dist/img/user1-128x128.jpg" class="img-size-32 mr-3 img-circle">*@
                        <img ng-show="IMAGE_PATH=='' || IMAGE_PATH=='null'" src="../dist/img/user1-128x128.jpg" class="img-size-32 mr-4 img-circle" />
                        <img ng-show="IMAGE_PATH!='' && IMAGE_PATH!='null'" src="{{IMAGE_PATH}}" class="img-size-32 mr-4 img-circle" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right dropdown-menu-arrow">
                        <li class="user-header">
                            <ul class="list-line mt-1 mb-1">
                                <li class="list-line-item cursor-default"><i class="fas fa-user"></i> {{User_Name}}</li>
                                <li class="list-line-item cursor-default"><i class="fas fa-envelope"></i> {{User_Email}}</li>
                            </ul>
                        </li>
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-md-6 text-center"><a href="../AccountSetting/index#!/BasicInfo" type="button" class="btn btn-w-default btn-sm"> Settings</a></div>
                                <div class="col-md-6 text-center"><button type="button" class="btn btn-wenodo btn-sm" title="Logout" ng-click="INS_LOGOUT_LOG(1)">Sign out</button></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <aside class="Wenodo-main-sidebar sidebar-hr" data-widget="tree">
            <section class="Wenodo-sidebar">
                <ul class="Wenodo-sidebar-menu tree" data-widget="tree" role="menu" data-accordion="false" on-finish-render="ngRepeatFinished">
                    <li ng-click="MENU_CLICK(SP.ID)"
                        ng-show="SP.ACCESS_ID==99999?true:CheckSubModuleAccess(SP.ACCESS_ID)"
                        ng-repeat="SP in SIDE_PANAL_NAME_AND_URL">
                        <a href="{{SP.URL}}" style="padding:10px 0px">
                            <i class="fal fa-user-chart fa-lg"></i>
                            <p class="d-block mb-0 font-500" ng-bind-html="SP.SIDE_PANAL_NAME"></p>
                        </a>
                    </li>

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="hr-dashboard-main-footer-old">
            <div class="row">
                <div class="col-md-6 app-text font-14 d-flex"><span class="mt-2 ml-4 font-12">Powered by </span><a target="_blank" href="http://wenodo.com/"><img src="~/E_Content/images/logo.png" class="img-fluid footer-logo" /></a></div>
                <div class="col-md-6 text-right">
                    <div class="footer-links mt-1">
                        <a ng-show="false">Cookies</a>
                        <a href="https://wenodo.com/policy/">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade show" id="View_Invoice">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" ng-show="false">Invoice {{INVOICES_RESULT.INVOICENUMBER}}</h4>
                    <h4 class="modal-title font-16">Bill - {{INVOICES_RESULT.INVOICENUMBER}}</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="modal-header pl-0 pt-0">
                        <span class="badge badge-success mt-1"> {{INVOICES_RESULT.STATUS}}</span>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                @*<li class="nav-item mr-2">
                                        <button type="button" class="btn btn-sm btn-wenodo" data-toggle="tootltip" data-html="true" data-original-title="Print PDF">Print PDF</button>
                                    </li>*@
                                <li class="nav-item" ng-show="INVOICES_RESULT.ATTACHMENTS.length==0">
                                    - No Attachments
                                </li>
                                <li class="nav-item" ng-show="INVOICES_RESULT.ATTACHMENTS.length>0">
                                    <button type="button" class="btn btn-sm btn-wenodo dropdown-toggle dropdown-icon" data-toggle="dropdown"><i class="far fa-paperclip mr-3" data-toggle="tootltip" data-html="true" data-original-title="Download PDF">  ({{INVOICES_RESULT.ATTACHMENTS.length}})</i></button>
                                    <div class="dropdown-menu custom-scrollbar mx-200">
                                        <a class="dropdown-item" ng-repeat="Attachment in INVOICES_RESULT.ATTACHMENTS" ng-click="DOWNLOAD_INVOICE_ATTACHMENT(Attachment);">{{Attachment.FileName}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img ng-show="false" src="http://localhost:29346/E_Content/images/Logo_sample.png" class="mx-w-150 mb-3" />
                        </div>
                        <div class="table-responsive">
                            <table class="table v-align-top compact_table table-striped table-hover">
                                <thead class="bg-wenodo-border">
                                    <tr>
                                        <th>From</th>
                                        <th>Date</th>
                                        <th>Due Date</th>
                                        <th>Reference</th>
                                        <th class="text-align-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{INVOICES_RESULT.SUPPLIER_NAME}}
                                            @*<br />{{INVOICES_RESULT.SUP_ADDRESSLINE1}}
                                                <br />{{INVOICES_RESULT.SUP_CITY}}
                                                <br />{{INVOICES_RESULT.SUP_COUNTRY}}*@
                                        </td>
                                        <td>{{INVOICES_RESULT.DATE | date}}</td>
                                        <td>{{INVOICES_RESULT.DUEDATE | date}}</td>
                                        <td>{{INVOICES_RESULT.REFERENCE}}</td>
                                        <td class="text-align-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.TOTAL|number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-head-fixed table-striped table-hover compact_table">
                                <thead class="bg-wenodo-border">
                                    <tr>

                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th class="text-nowrap text-right">Unit Price</th>
                                        <th>Account</th>
                                        <th>Tax Rate</th>
                                        <th>Sites</th>
                                        <th class="text-nowrap text-right">Amount {{INVOICES_RESULT.CURRENCYCODE}}</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="LIT in XERO_INVOICES_LINE_ITEMS">
                                    <tr>

                                        <td>{{LIT.DESCRIPTION}}</td>
                                        <td>{{LIT.QUANTITY}}</td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{LIT.UNIT_PRICE|number:2}}</td>
                                        <td>{{LIT.ACCOUNT_NAME}}</td>
                                        <td>{{LIT.TAX_NAME}}</td>
                                        <td>{{LIT.SITES}}</td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{LIT.AMOUNT|number:2}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-right">Subtotal</td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.SUBTOTAL|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Total Tax</td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.TOTALTAX|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right text-bold">Total</td>
                                        <td class="text-bold text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.TOTAL|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Credit Amount </td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.AMOUNTCREDITED|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right">Paid Amount</td>
                                        <td class="text-nowrap text-right"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.AMOUNTPAID|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-right text-bold font-18 text-uppercase">Amount Due</td>
                                        <td class="text-bold text-nowrap text-right font-18"><span class="semibold" ng-bind-html="CURRENCY_SYMBOL"></span> {{INVOICES_RESULT.AMOUNTDUE|number:2}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="col-md-12" ng-show="false">
                            EORI No. GB261643804000<br>AWRS Registration No. XTAW00000107295<br><br>Payments in Sterling<br>Sort Code 20-45-45 Account Number 13284468<br>SWIFTBIC BARCGB22  <br>IBAN GB71 BARC 2045 4513 2844 68<br><br>Payments in Euros<br>Sort Code 20-45-45 Account Number 52667877<br>SWIFTBIC BARCGB22<br>IBAN GB52 BARC 2045 4552 6678 77<br><br>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-show="false" class="btn btn-wenodo">Download Attachment</button>
                    <button type="button" class="btn btn-sm btn-wenodo" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>

    <script src="~/E_Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/AngularControllers/RouteProvider.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Angular_Directive.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/MasterCntrl.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/ReportsController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Payment/Pay_RequestController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Payment/Pay_RequestStateController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Payment/Pay_ViewSchedularController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/PaymentController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/Payment/Pay_StatementController.js?v=@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>
    <script src="~/AngularControllers/EPOS_Validation/EPOS_Validations_EntryController.js?@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString()"></script>

    <script src="~/E_Scripts/angular-sanitize.min.js"></script>
    <script src="~/E_Scripts/Calendar/ui-bootstrap-tpls.min.js"></script>

    <script src="~/E_Content/plugins/select2/js/select2.full.min.js"></script>

    <script src="~/E_Scripts/Calendar/calendar.js"></script>

    <script src="https://rawgithub.com/angular-ui/ui-select2/master/src/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js"></script>

    <script src="~/E_Scripts/Calendar/fullcalendar.js"></script>
    <link href="~/E_Content/Calendar/fullcalendar.css" rel="stylesheet" />


    @*<script src="~/E_Scripts/Select2/select.js"></script>*@
    @*<link href="~/E_Scripts/Select2/select.css" rel="stylesheet" />*@

    <script src="~/E_Scripts/JsontoCSV/ng-csv.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/jspdf.min.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/jspdf.plugin.autotable.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/alasql.min.js"></script>
    <script src="~/E_Scripts/ExcelPdfJS/xlsx.core.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>
    @*<script src="~/E_Scripts/DragDrop/drag-and-drop-lists.js"></script>*@
    <script src="~/E_Scripts/DragDrop/lvl-drag-drop.js"></script>
    <script src="~/E_Scripts/DragDrop/lvl-uuid.js"></script>
    @*<script src="~/E_Scripts/Calendar/moment.js"></script>*@

    <script src="~/E_Scripts/MomentTimePicker/moment-with-locales.js"></script>
    <script src="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.js"></script>
    <link href="~/E_Scripts/MomentTimePicker/angular-moment-picker.min.css" rel="stylesheet" />


    <link href="https://cdn.jsdelivr.net/select2/3.4.5/select2.css" rel="stylesheet" />
    <link href="~/E_Scripts/Angular-Tour/StyleSheet1.css" rel="stylesheet" />
    <script src="~/E_Scripts/Angular-Tour/angular-smooth-scroll.js"></script>
    <script src="~/E_Scripts/Angular-Tour/ez-ng.js"></script>
    <script src="~/E_Scripts/Angular-Tour/hotkeys.js"></script>
    <script src="~/E_Scripts/Angular-Tour/angular-ui-tour.js"></script>

    <link href="~/E_Scripts/autocomplete/angucomplete.css" rel="stylesheet" />
    <link href="~/E_Scripts/autocomplete/Style.css" rel="stylesheet" />
    <script type="text/javascript">
        function FRESHDESK_CALL() {

            let frameElement = document.getElementById("launcher-frame");
            let freshworks_container = document.getElementById("freshworks-container");
            freshworks_container.style.display = "block";
            frameElement.style.right = "10px";
            frameElement.style.top = "9px";
            frameElement.style.border = "none";
            frameElement.style.position = "fixed";
            frameElement.style.minWidth = "42px";
            frameElement.style.maxWidth = "42px";
            frameElement.style.height = "42px";
            frameElement.style.zIndex = "1040";
            frameElement.style.visibility = "visible";
            //let elements = document.querySelectorAll('.frame-root');
            let link = document.createElement("link");
            link.href = "../E_Content/CustomCss/widget-style.css?v=2"+@System.Configuration.ConfigurationManager.AppSettings["AppVersion"].ToString();;
            link.rel = "stylesheet";
            link.type = "text/css";
            $("#launcher-frame").contents().find("head")[0].appendChild(link);
            //$("#freshworks-frame-wrapper").contents().find("head")[0].appendChild(link);
            FreshworksWidget('identify', 'ticketForm', {
                //name: 'Rachel',
                email: getCookie("FRESHDSK_EMAIL"),
            });
        }
        $(document).ready(function () {
            setTimeout(FRESHDESK_CALL, 2500);
        });

    </script>
</body>
</html>